@import "./ionic/colors.scss";

$SWITCH_HEIGHT: 46px;
$SWITCH_HEIGHT_TABLET: 60px;
$HEADER_HEIGHT: 80px;
$TITLE_HEADER_HEIGHT: 60px;
$MAX_WIDTH_TABLET: 500px;
$TABLET_PADDING: calc((100vw / 2) - (500px / 2));
$SMALL_RESOLUTION_PADDING: 5vw;
$BORDER_RADIUS: 0.5em;

$WEBSITE-HEADER: 40px;
$WEBSITE-BODY: calc(100vh - 40px);
$RESPONSIVE_WIDTH: 90vw;
$INPUT_DEFAULT_HEIGHT: 45px;
$INPUT_TABLET_HEIGHT: 60px;


