@import "~sass/styles.scss";
:host {
    .recipe-item-details {
        width: 100%;
    }
    .recipe-item-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        .recipe-item-image-container {
            position: relative;
            height: 100px;
            padding: 8px;
            overflow: hidden;
            width: 100%;
            display: flex;
            .recipe-item-image {
                object-fit: cover;
                width: 100%;
            }
            .recipe-item-fav-body {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .beaba-icon {
                    height: 15px;
                }
                div.score {
                    position: relative;
                    margin: 0 15px 3px auto;
                    height: 100%;
                    width: 100%;
                    .recipe-item-fav-icon {
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        bottom: 3px;
                        right: 0;
                    }
                    .recipe-item-fav-count {
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        color: $WHITE;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1em;
                        bottom: 3px;
                        right: 0;
                    }
                    .star-big {
                        height: 30px;
                    }
                }
            }
        }
        .recipe-item-divider {
            border-bottom: solid 1px $VERY_LIGHT_GRAY;
            width: 60%;
            display: block;
            margin: 20px auto 10px auto;
        }
        .recipe-item-detail-body {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            padding: 2px;
        }
        .body-row {
            display: flex;
            flex-direction: row;
        }
        .recipe-item-detail-tab {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1 3;
            .recipe-item-img {
                height: auto;
                width: 20px;
            }
            .recipe-item-img-alt {
                height: 20px;
                width: auto;
            }
            .recipe-item-detail-title {
                font-weight: bold;
                text-align: center;
            }
        }
        .recipe-item-title {
            height: 25px;
            font-weight: bold;
            text-align: center;
        }
    }
    .recipe-item-news-container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-style: solid;
        border-width: 40px 60px 0 0;
        border-color: $RED_BEABA transparent transparent transparent;
        .recipe-item-news-icon {
            position: absolute;
            top: -32px;
            left: 0;
            width: 20px;
            max-width: 20px;
            min-height: 10px;
            height: auto;
            margin-left: 8px;
        }
    }
}

/* 768 et + */
@media screen and (min-width: 768px) {
    recipe-item-component,
     :host {
        .recipe-item-body {
            .recipe-item-image-container {
                height: 160px!important;
                padding: 5px;
                .recipe-item-fav-body {
                    width: 100%;
                }
            }
            p.recipe-item-title {
                padding: 0 10px;
                min-height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5em;
                padding: 0 20px;
            }
            .recipe-item-divider {
                margin: 10px auto 10px auto;
            }
            .recipe-item-detail-tab {
                .recipe-item-img,
                .recipe-item-img-alt {
                    width: 60px !important;
                    height: 60px!important;
                }
                .recipe-item-detail-title {
                    font-size: 1.1em;
                    padding-top: 5px;
                }
            }
            svg {
                fill: $RED_BEABA;
                width: 40px !important;
                height: 40px!important;
            }
        }
    }
}

/* 1280 et + (Desktop, ...) */
@media screen and (min-width: 1280px) {
    recipe-item-component,
     :host {
        .recipe-item-body {
            .recipe-item-image-container {
                .recipe-item-fav-body{
                    div.score.favorite {
                        .recipe-item-fav-count {
                            color: $GRAY;
                            font-weight: 900;
                        }
                    }
                    div.score {
                        .recipe-item-fav-icon {
                            height: 35px;
                            width: 35px;
                            margin-right: 0;
                        }
                        .recipe-item-fav-count {
                            height: 35px;
                            width: 35px;
                            font-size: 1em;
                        }
                    }
                }
            }
            .recipe-item-divider {
                margin: 10px auto;
            }
            .recipe-item-detail-tab {
                .recipe-item-img-alt,
                .recipe-item-img {
                    width: 60px !important;
                    height: 60px!important;
                }
            }            
            .recipe-item-title {
                padding: 0 10px;
                height: 65px;
                font-size: 2em;
                display: flex;
                align-items: center;
                line-height: 2em;
            }
        }
    }
}

/* 768 et - (petite tablette, téléphone, ...) */
@media screen and (max-width: 768px) {
     :host {
        .recipe-item-body {
            .recipe-item-image-container {
                height: 80px!important;
                padding: 0;
            }
            p.recipe-item-title {
                font-size: 1em;
                line-height: 1.5em;
                padding: 0 10px;
                min-height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .recipe-item-divider {
                margin: 0 auto;
            }
            .recipe-item-detail-body {
                margin-top: 5px;
            }
            .recipe-item-detail-tab {
                .recipe-item-img-alt,
                .recipe-item-img {
                    width: 20px !important;
                    height: 20px!important;
                }
            }
            svg {
                fill: $RED_BEABA;
                width: 20px !important;
                height: 20px!important;
            }
        }
    }
}
